<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen">
    <link href="http://cdn.jsdelivr.net/webjars/jquery/3.5.1/jquery.min.js"
          th:href="@{/webjars/jquery/3.5.1/jquery.min.js}">

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}"
          rel="stylesheet" media="screen">
    <title>Title</title>
    <div class="container">
        <h1>Hello World</h1>
        <p>This is my thymleaf container with bootstrap inculded from webjars</p>
    </div>
</head>
<body>

</body>
</html>